@keyframes start{
    80%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

@keyframes arrowSkills {
  100% {
    margin-left: 10px;
    text-shadow: 0 0 0 5px white;
  }
}

@keyframes arrowExplore {
  100%{
    top: 30px
  }
}

@keyframes media {
  100%{
    bottom: 0;
  }
}

@keyframes lineDown{
  100%{
    transform: scaleX(1);
  }
}
@keyframes lineRight{
  100%{
    transform: scaleY(1);
  }
}

@keyframes letterStart{
  100%{
    opacity: 1;
  }
}

@keyframes startGlow{
  0%{
    box-shadow: 0;
  }
  100%{
    box-shadow: 0 0 20px #F9F871;
  }
}

