@keyframes start{
    80%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
    opacity: 1;
  }
  100%
  {
    transform:rotate(360deg);
    opacity: 0;
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

@keyframes arrowSkills {
  100% {
    margin-left: 10px;
    text-shadow: 0 0 0 5px white;
  }
}

@keyframes arrowExplore {
  100%{
    top: 30px
  }
}

@keyframes media {
  100%{
    bottom: 0;
  }
}