.projects{
    position: relative;
    z-index: 0;
    margin-top: 15%;
    width: 100%;
    .all-projects{
        margin-top: 0%;
        position: relative;
        transition: 1s;
        .project-container{
            width: 80%;
            margin: 0 auto;
            margin-top: 15%;
            position: relative;
            .img-container{
                position: relative;
                img{
                    position: relative;
                    width: 100%;
                    border-radius: 10px;
                    transition: .5s;
                    &:hover{
                        filter: contrast(50%);
                    }
                }
                a{
                    position: absolute;
                    width: 100%;
                    background-color: $dark;
                    color: $white;
                    bottom: 0px;
                    font-size: 1.4rem;
                    text-align: center;
                    padding: 3px;
                    &.project-link{
                        width: 50%;
                    }
                    &:nth-of-type(1){
                        left: 0px;
                    }
                    &:nth-of-type(2){
                        right: 0px;
                        width: 50%;
                    }
                }
            }
            p{  
                background-color: $dark;
                border-radius: 10px;
                color: $white;
                font-size: 1.3rem;
                text-align: justify;
                padding: 15px;
                margin-top: 15px;
            }
            }
            
        }
    }

    .more-projects{
        margin: 50px auto;
        text-align: center;

        p{
            font-size: 1.2rem;

            a{
                transition: .4s;
                &:hover{
                    color: tomato;
                }
            }
        }
    }

@media (min-width: 768px){
    .projects{
        .all-projects{
            .project-container{
                display: flex;
                margin-top: 0%;
                &:nth-of-type(2){
                    flex-direction: row-reverse;
                    .text{
                        p{
                            margin-left: 0;
                            margin-right: 10%;
                            }
                        }
                    }
                    .img-container{
                        img{
                            width: 300px;
                        }
                        a{
                            font-size: 2rem;
                            transition: .3s;
                            &:hover{
                                color: $dark;
                                background-color: $white;
                            }
                        }
                    }
                }
                .text{
                    display: flex;
                    align-items: center;
                    }
                    p{  
                        margin-top: 0;
                        margin-left: 10%;
                    }
                }
            }
        }


@media (min-width: 1024px){
    .projects{
        margin-top: 6%;
        .all-projects{
            margin-top: 6%;
            .project-container{
                width: 65%;
                img{
                    height: 250px;
                }
                .text{
                    p{
                        font-size: 1.5rem;
                        padding: 35px;
                    }
                }
            }
        }
    }
}
