.skills{
    position: relative;
    margin-top: 15%;
    .all-skills{
        .skill{
            margin-top: 10%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .img-skill{
                flex-basis: 100%;
                img{
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 40px;
                }
            }
            h3{
                flex-basis: 75%;
                text-align: center;
                margin-top: 2%;
            }
            .progress-bar{
                position: relative;
                margin-top: 2%;
                width: 45%;
                height: 15px;
                border-radius: 15px;
                background-color: $dark;
                div{
                    margin-left: 5px;
                    border-radius: 5px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 80%;
                    height: 7.5px;
                    background-color: #379237;
                    &.medium{
                        width: 50%;
                        background-color: #FD841F;
                    }
                    &.low{
                        width: 20%;
                        background-color: #FF1E1E;
                    }
                }
            }
        }
    }
}

@media (min-width: 640px){
    .skills{
        margin-top: 10%;
        .all-skills{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            .skill{
                margin-top: 2%;
                margin-bottom: 4%;
                flex-basis: 50%;
            }
        }
    }
}

@media (min-width: 1024px){
    .skills{
        margin-top: 6%;
        .all-skills{
            .skill{
                transition: .3s;
                &:hover{
                    transform: scale(1.2);
                }
                .img-skill{
                    img{
                        width: 60px;
                        transition: 1s;
                    }
                }
                h3{
                    font-size: 1.6rem;
                }
                .progress-bar{
                    width: 40%;
                    height: 20px;
                    div{
                        height: 10px;
                    }
                }
            }
        }
    }
}
